@model Author
@{
    ViewData["Title"] = "Update";
}

<div class="container-fluid">
    <h1>Update</h1>
    <form method="post" asp-action="update">
        <div class="row align-items-center">
            <div class="mb-3 col-md-2">
                <label asp-for="Fullname" class="form-label">Fullname</label>
                <input asp-for="Fullname" class="form-control" placeholder="Fullname">
                <span asp-validation-for="Fullname" class="text-danger"></span>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
    </form>
</div>
